@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');/*
*,*::after,*::before{
  outline: 1px dotted red;
} */
@layer base {
	:root {
		--background: #ffffff;
		--foreground: #171717;
		--complementary: #abb2bf;
		--h-header: 6rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@media (max-width: 640px) {
	:root {
		--h-header: 4rem;
	}
}


.modak-regular {
	font-family: "Modak", system-ui;
	font-weight: 400;
	font-style: normal;
}


body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	@apply max-w-6xl mx-auto px-4 md:px-14;
}
